body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }

  div.divided {
      width: 100%;
      border: 4px solid
  }
  ul.pets {
      box-sizing: border-box;
      width: 50%;
      float: left;
  }
  ol.sch {
      box-sizing: border-box;
      width: 50%;
      float: left;
  }